<h1>{{title}}</h1>
<!--
* debug tag
* totaalTodos
* list of todos
* bind done
* style done
* Add todos
* remove done
-->


<h2>Aantal todos: {{totaalTodos()}}</h2>


<div class="jumbotron">
    <ul class="list-unstyled">
        <li data-ng-repeat="todo in data">
            <label>
                <input type="checkbox" data-ng-model="todo.done">
            </label>
            <span data-ng-class="{'todo-done' : todo.done}">{{todo.todo}}</span>
        </li>
    </ul>
</div>

<form>
    <label>New Todo:
        <input type="text" data-ng-model="newTodo">
    </label>
    <button type="submit" ng-click="addTodo()">Add</button>
</form>

<pre data-ng-model="debug" data-ng-show="debug">{{ data | json }}</pre>